{{ 'component-new-arrived.css' | asset_url | stylesheet_tag }}

<div class="new-arrived-section page-width section-{{ section.id }}-padding">

  {% if section.settings.title != blank %}
    <h2 class="h2 {{ section.settings.heading_size }}">
      {{ section.settings.title }}
    </h2>
  {% endif %}

  {% assign selected_collection = section.settings.collection %}
  {% if selected_collection == blank %}
    {% assign selected_collection = "new-arrived" %}
  {% endif %}
  
  {% assign products = collections[selected_collection].products %}
  
  {% if section.settings.products_to_show < products.size %}
    {% assign products = products | slice: 0, section.settings.products_to_show %}
  {% endif %}
  
  {% if products.size > 0 %}
    {% if section.settings.enable_slider %}
      <div class="new-arrived-slider">
        {% for product in products %}
          <div class="slide-item">
            <div class="product-card-wrapper">  
              {% render 'custom-product-card', product: product %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="new-arrived-grid"> 
        {% for product in products %}
          <div class="product-card-wrapper"> 
            {% render 'custom-product-card', product: product %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% else %}
    <p>No products in this collection.</p>
  {% endif %}

  {% if section.settings.show_view_collection and collections[selected_collection] %}
    <div class="view-all-btn-wrapper">
      <a href="{{ collections[selected_collection].url }}" class="view-all-btn">
        {{ section.settings.button_text }}
      </a>
    </div>
  {% endif %}

</div>

{% schema %}
{
  "name": "New Arrived",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Section title",
      "default": "New Arrived"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading size",
      "options": [
        { "value": "h2", "label": "H2" },
        { "value": "h1", "label": "H1" }
      ],
      "default": "h2"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Choose collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "label": "Products to show",
      "min": 2,
      "max": 20,
      "step": 1,
      "default": 8
    },
    {
      "type": "checkbox",
      "id": "enable_slider",
      "label": "Enable slider",
      "default": false
    },
  
    {
      "type": "checkbox",
      "id": "show_view_collection",
      "label": "Show button",
      "default": true
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "View Collection"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 36,
      "label": "Padding top"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 36,
      "label": "Padding bottom"
    }
  ],
  "presets": [
    {
      "name": "New Arrived",
      "settings": {
        "title": "New Arrived",
        "show_view_collection": true,
        "button_text": "View All Products"
      }
    }
  ]
}
{% endschema %}